RewriteEngine On
RewriteBase /anime-list-uas/

# Jika bukan file atau folder, alihkan ke index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
